/* style file for index.html
*1 ---global variables
*2 --- layout
*/
/*1 ---global variables
*/
:root{
    --color-bg-body: hsl(205, 75%, 55%);
    --color-bg-gradient: linear-gradient(to bottom, lightblue, blue);
    --color-bg-section: hsl(0, 62%, 42%);
    --color-font-body: black;
    --color-head3-font: white;
    --color-of-board-frame: hsla(237, 79%, 35%, 0.8);
    --img-board: url('../img/water.webp');
    --img-cardback: url('../img/BACK.png');
    --img-cardfront: url('../img/Normal_bg.webp');
    --img-cardfront2: url('../img/Passive_bg.webp');
    --color-top-bar: hsl(212, 81%, 40%);
}


#zen-explanation{--pos-top:120px; --pos-left: 50px;--tilt: rotate(30deg); --front-img: url('../img/Normal_bg.webp'); --front-color:var(--img-cardfront)}
#zen-participation{--pos-top: 120px; --pos-left: 300px; --tilt: rotate(-30deg); --front-img: url('../img/Normal_bg.webp'); --front-color: var(--img-cardfront);}
#zen-preamble{--pos-top: 120px; --pos-left: 500px; --tilt: rotate(30deg); --front-img: url('../img/Normal_bg.webp'); --front-color: var(--img-cardfront);}
#zen-benefits{--pos-top: 120px; --pos-left: 750px; --tilt: rotate(-30deg); --front-img: url('../img/Normal_bg.webp'); --front-color: var(--img-cardfront);}
#zen-summary{--pos-top: 120px; --pos-left: 1150px; --tilt: rotate(-30deg); --front-img: url('../img/Normal_bg.webp'); --front-color: var(--img-cardfront);}
#zen-requirements{--pos-top: 120px; --pos-left: 900px; --tilt: rotate(30deg); --front-img: url('../img/Normal_bg.webp'); --front-color: var(--img-cardfront);}


body{
    background-image: var(--color-bg-gradient);
    height: 100vh;
    color: var(--color-font-body);
     
}
.page-wrapper{
    background-image: var(--img-board);
    position:fixed;
    top: 1%;
    left: 5%;
    width: 85%;
    height: 115vh;
    perspective: 2500px;
    border: 20px solid var(--color-of-board-frame);
    transform-origin: center;
    transform: perspective(2500px) rotateX(45deg) translateZ(50px) scale(0.8);
    transform-style: preserve-3d;
    
    


}
.extra{
    /*move under the table and make the frame*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--color-bg-section);
}
/*2---Layout*/
/* relative position */
header abbr{
    position: relative;
    top: -5px;
    font-size: 0.5em;
    
}

.intro, .supporting{
    display:contents;
}

article{
    position:absolute;
    top: var(--pos-top);
    left:var(--pos-left);
    transform: var(--tilt);
    background-image: var(--img-cardback);
    background-size: cover;
    width: 90px;
    height: 150px;
    overflow: scroll;
    padding: 5px 10px 20px 8px;
    border: 2px solid var(--color-of-board-frame); 
    border-radius: 10px/20px;
    box-shadow: 25px 25px 10px black;
    --front-color: var(--img-cardfront);
    transform-origin:bottom center;
    transition: transform 0.5s ease;
    
    
}

article:hover{
    background-image: var(--front-color);
    background-size: cover;
    background-repeat: no-repeat;
    width: 155px;
    height: 205px;
    transform: rotateX(-15deg) translateZ(60px) scale(1.3);
    
}


/* everything inside element*/
article > *{
    opacity: 0;
    transition: opacity 2s; 
}
/* when hovering everything is shown */
article:hover > *{
    opacity: 1;
}

aside{
    display:none;
}


header h1{
    font-family: 'myFont';
    font-size: 2em;
    text-decoration: underline;
}

@font-face {
    font-family: 'myFont';
    src: url('../fonts/chunkfive.woff') format('woff'), url('../fonts/chunkfive.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}
 header h2{
    font-family: 'myFont';
    font-size: 1.5em;
    text-decoration: underline;
 }

 a{
    text-decoration: underline;
 }


article h3::first-letter{
    font-size: 3em;
}

aside ul {
    list-style-image: url('../img/star.png') 
}
/*
article:first-child{
    text-shadow: 0.5em 0.1em 1em black;
}
*/
/*
p:nth-child(2n){
    background-color: lightgray;
    box-shadow: 25px 25px 50px black;
}
*/

/*style the footer*/
footer{
    position:fixed;
    top: 20px;
    left: 20px;
    display:flex;
    gap: 12px;
    
}



footer a{
    background-color: hsl(212, 81%, 40%);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 18px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px;
    animation: horizontalmove 5s infinite;

}

footer:hover > *{
    animation-play-state: paused;
}

@keyframes horizontalmove{
    0%{ transform: translateX(0); }
    50%{ transform: translateX(100px); }
    100%{ transform: translateX(0); }
}


* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.wrapper > div {
  border: 2px solid rgb(233 171 88);
  border-radius: 5px;
  background-color: rgb(233 171 88 / 50%);
  padding: 1em;
  color: #d9480f;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


/*
.one {
  grid-column: 2 / 4;
  grid-row: 2/4;
}
.two {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.three {
  grid-column: 1/2;
  grid-row: 2/4;
}
.four {
  grid-column: 4/5;
  grid-row: 1/3;
}
.five {
  grid-column: 1/4;
  grid-row: 4/5;
}
.six {
  grid-column: 3/5;
  grid-row: 3/5;
}
*/

 
 
 